name: github-actions-tests
on: 
  workflow_dispatch: {}
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - name: Debug
        run: |
          whoami
          ls -al
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run: npm install -g bats
      - run: bats -v
