name: github-actions-tests
on: 
  workflow_dispatch: {}
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - name: Debug
        run: |
          whoami
          id
          # tree /home/runner
          printenv
      
      - name: Debug users
        run: |
          sudo cat /etc/sudoers
          ls -al /etc/sudoers
          
      - uses: actions/checkout@v3
      
