name: Upload Python 3.9 and 3.10 tool cache
on: 
  workflow_dispatch: {}
  
jobs:
  
  upload_tool_cache:
    runs-on: ubuntu-20.04
    env:
      AGENT_TOOLSDIRECTORY: /home/runner/actions-runner/_work/_tool/
      
    steps:
      - name: Clear any existing tool cache
        run: |
          # mv "${{ runner.tool_cache }}" "${{ runner.tool_cache }}.old"
          # mkdir -p "${{ runner.tool_cache }}"
          mv "${{ env.AGENT_TOOLSDIRECTORY }}" "${{ env.AGENT_TOOLSDIRECTORY }}.old"
          mkdir -p "${{ env.AGENT_TOOLSDIRECTORY }}"
      - name: Setup Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Setup Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Archive tool cache
        run: |
          cd "${{ env.AGENT_TOOLSDIRECTORY }}"
          tar -czf tool_cache.tar.gz *
      - name: Upload tool cache artifact
        uses: actions/upload-artifact@v3
        with:
          path: ${{ env.AGENT_TOOLSDIRECTORY }}/tool_cache.tar.gz
