name: Load Testing

on:
  workflow_dispatch:

jobs:

  load-test:
    name: Load Test
    runs-on: bmw-ubuntu-24.04-medium
    strategy:
      matrix:
        user: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
        concurrency: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    steps:
    - uses: actions/checkout@v4
    - name: Run Load Test
      run: |
        echo "Running load test with ${{ matrix.user }} users and ${{ matrix.concurrency }} concurrency"
